<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>formulario</title>
</head>
<body>
    <div class="modal">
        <div class="container">
            <div class="modal__inner">
                <h2 class="modal__titulo">Criar hábito</h2>
                <form>
                    <label for="">Email</label>
                    <input type="text" placeholder="digite">
                    <label for="">Senha</label>
                    <input class="invalido" type="senha" placeholder="digite">
                    <span class="invalido--mensagem">falta senha</span>
                    <label for="">descrição</label>
                    <textarea name="" id="" placeholder="wiefhiwuef"></textarea>
                    <label for="">categoria</label>
                    <select name="" id="">
                        <option value="">Selecionar categoria</option>
                        <option value="">Casa</option>
                        <option value="">Saúde</option>
                        <option value="">Trabalho</option>
                        <option value="">Lazer</option>
                    </select>
                    <button class="botao--envio">Enviar</button>
                </form>
            </div>
            <buttton class="modal__botaoFechar"></buttton>
        </div>
    </div>
</body>
</html>