<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KenzieHabit</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/homePage.style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="headerUm">
            <h1 class="tituloSite">KenzieHabit</h1>
            <figure><img src="../temp/imgsTemporarias/unnamed.jpg" alt="fotoPerfil" class="fotoPerfilUm"></figure>
        </div>
        <div class="headerDois">
            <div>
                <figure><img src="../temp/imgsTemporarias/unnamed.jpg" alt="fotoPerfil" class="fotoPerfilDois"></figure>
                <h2 class="nomeUsuario">Júlia Silva Camargo</h2>
            </div>
        </div>
    </header>

    <main>
        <div class="tituloEBotoes">
            <h1 class="titulo">Tarefas</h1>
            <div>
                <button class="botaoTodos">Todos</button>
                <button class="botaoConcluido">Concluídos</button>
                <button class="botaoCriar">Criar</button>
            </div>
        </div>
    
        <section class="secaoTabela">
            <table class="tabela">
                <thead class="tituloMain">
                    <tr>
                        <th class="status">Status</th> 
                        <th class="tituloTabela">Título</th>
                        <th class="descricao">Descrição</th>
                        <th class="categoria">Categoria</th>
                        <th class="editar">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="caixaHabits">
                        <td class="checkout"><input type="checkbox" class="input"></td>
                        <td class="atividadePlanejada">Fazer exercícios segunda pela manhâ</td>
                        <td class="descricapDetalhada">Ir correr na praça próxima a minha casa</td>
                        <td class="tdCategoria"><span class="categoriaDetalhada">Saúde</span></td>
                        <td class="CaixaBotaoEditar"><button class="editarHabito">...</button></td>
                    </tr>

                    <tr  class="caixaHabits">
                        <td class="checkout"><input type="checkbox" class="input"></td>
                        <td class="atividadePlanejada">Fazer exercícios segunda pela manhâ</td>
                        <td class="descricapDetalhada">Ir correr na praça próxima a minha casa</td>
                        <td class="tdCategoria"><span class="categoriaDetalhada">Saúde</span></td>
                        <td class="CaixaBotaoEditar"><button class="editarHabito">...</button></td>
                    </tr>

                    <tr  class="caixaHabits">
                        <td class="checkout"><input type="checkbox" class="input"></td>
                        <td class="atividadePlanejada">Fazer exercícios segunda pela manhâ</td>
                        <td class="descricapDetalhada">Ir correr na praça próxima a minha casa</td>
                        <td class="tdCategoria"><span class="categoriaDetalhada">Saúde</span></td>
                        <td class="CaixaBotaoEditar"><button class="editarHabito">...</button></td>
                    </tr>

                    <tr  class="caixaHabits">
                        <td class="checkout"><input type="checkbox" class="input"></td>
                        <td class="atividadePlanejada">Fazer exercícios segunda pela manhâ</td>
                        <td class="descricapDetalhada">Ir correr na praça próxima a minha casa</td>
                        <td class="tdCategoria"><span class="categoriaDetalhada">Saúde</span></td>
                        <td class="CaixaBotaoEditar"><button class="editarHabito">...</button></td>
                    </tr>
                
                </tbody>
                
            </table>
        </section>
    </main>

     
</body>
</html>