<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Modal de Sucesso</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nostrum incidunt quae illo doloremque! Accusamus quia deserunt sit iure fuga? Maiores asperiores dolore dolor quidem saepe, porro enim nesciunt provident?</p>
    <div class="modal modal--sucesso">
        <div class="container">
            <div class="modal__inner">
                <h2 class="modal__titulo">Sucesso</h2>
                <span>Seu hábito foi alterado</span>
            </div>
            <button type="button" class="modal__botaoFechar">
            </button>
        </div>
    </div>
</body>
</html>