<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kenzie Habit</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        
    <div class="modal modal__habito">
    <!--<div class="container">
            <div class="modal__inner">
                <h2 class="modal__titulo">Criar Hábito</h2>
            </div>
            <button type="button" class="modal__botaoFechar">
                <figure>
                    <img src="../assets/img/X.png" alt="fechar">
                </figure>
            </button>
        </div> -->
    </div>

    <script type="module" src="../scripts/nome.scripts.js"></script>
    </body>
</html>